# Database Configuration
DB_HOST=dpg-d7rimtosfn5c73bpan8g-a.ohio-postgres.render.com
DB_PORT=5432
DB_NAME=db_klinik
DB_USER=clinic
DB_PASSWORD=Wy7Q7XzqdvDxvvQxpAGLdGvkvo9SNW2O

# JWT Configuration
JWT_SECRET=your-super-secret-key-change-in-production
JWT_EXPIRY=10h

# Server Configuration
PORT=3000
